.nav-controls{
  position: fixed; 
  inset-block: 0;
  right: 0;
  width: min(50vw, 300px);
  transition: transform 500ms ease-out, background 750ms ease-out; 
  @apply rounded-l-3xl; 
}
.nav-controls[data-active="true"]{
  transform: translate(0);
}
.nav-controls[data-active="false"]{
  transform: translate(100%);
}
